h1{
    text-align: center;
    color: palevioletred;
}

.Navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    display: flex;

}
.Navigation li{
    float: left;
}



.Navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Navigation li a:hover:not(.active) {
    background-color: #333;
}

.Navigation .active {
    background-color: palevioletred;
}

.inputs{
    display: flex;
    flex-flow: column;
    width: 20rem;
    margin: auto;
    font-size: 30px;
}
@media only screen and (max-width: 450px) {
    .Navigation ul{
        justify-content: space-around;
        
    }
    .Navigation li{
        float: none;
    }
    .Navigation li a {
        padding:3vw 5.7vw;
        font-size: 4vw;
    }
    .inputs{
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        width: 60vw;
        margin: auto;
    }
  }